{% extends "layout.html" %}

{% block title %}Aggregio{% endblock %}

{% block content %}
<section class="hero-section">
    <div class="container">
        <h1 class="hero-title">Welcome to Your Journey</h1>
        <p class="hero-subtitle">
            Analyze your activities, discover new insights, and reach your peak performance. Connect your Strava account to get started.
        </p>
        
        <!-- This links to the authorization URL from Flask -->
        <a href="{{ auth_url }}" class="cta-button">
            <img src="{{ url_for('static', filename='images/strava-2.svg') }}" alt="Strava Logo" class="strava-icon">
            Connect with Strava
        </a>
    </div>
</section>
{% endblock %}
