<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/aggregio-favicon.svg') }}" type="image/svg+xml">
    <title>{% block title %}Aggregio{% endblock %} | Aggregio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <header class="main-header">
        <div class="container">
            <a href="{{ url_for('main.profile') }}" class="logo-link">
                <div class="logo">
                    <img src="{{ url_for('static', filename='images/aggregio-logo2.svg') }}" alt="Aggregio App Logo" class="aggregio-logo">
                </div>
            </a>
                {% block header_actions %}{% endblock %}
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="main-footer-bottom">
        <div class="container">
            <p>&copy; 2025 Aggregio. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
